/* media Gallery styles*/
h1, h2, h3, h4, h5, h6, p, ul, ol, li {
	padding: 0;
	margin: 0;
}
/*-- Layout Styles
--*/
body {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
	overflow-x: hidden;
}
a {
	font-weight: 700;
	color: darkgreen;
	text-decoration: none;
}
a:visited {
	color: darkgreen;
}
a:hover {
	color: green;
}
a:active {
}
h1, h2 {
	font-family: 'Roboto Slab';
	font-weight: 300;
}
.container {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container > div {
	min-height: 150px;
	min-width: 150px;
	box-sizing: border-box;
}
.container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}
.cr, .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12, .c13, .c14 {
	width: 100%;
}
div.cr {
	display: flex;
	min-height: 0px;
}
.cr > h1 {
	font-family: 'Roboto Slab';
	font-size: 3rem;
	font-weight: 100;
	transition: 0.5s;
	color: #FFF;
}
span.tagline {
	font-size: 1rem;
	color: gold;
	font-weight: 700;
	transition: 0.5s;
}
.feeds h1 {
	margin-bottom: 0;
	padding: 28px 16px 16px 32px;
}
.feeds ul {
	list-style: none;
	padding-right: 16px;
	padding-left: 32px;
	line-height: 1.1;
}
.feeds li {
	margin-bottom: 20px;
	line-height: 1.1;
	font-size: 16px;
}

.feeds li:hover {
	background-color: #F9F9F9;
}
/*-- Card Styles
--*/
.card {
	display: flex;
	flex-direction: column;
	position: relative;
}
.card-img img {
	width: 100%;
	height: auto;
}
.card-img {
	display: flex;
}
.caption {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: transparent;
	opacity: 0;
	transition: 0.5s;
	padding: 12px 12px;
}
.caption:hover {
	background-color: rgba(0,0,0,0.3);
	opacity: 1;
}
.card-title {
}
.card-subtitle {
	position: absolute;
	bottom: 12px;
}
.caption a {
	color: white;
}
.caption a:hover {
	color: white;
}
/*-- Utility Classes
--*/
.shadow-2 {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
}
.block-ctr {
	display: block;
	margin: 0 auto;
}
.resp-img {
	width: 100%;
	height: auto;
}
/*-- Media Queries
--*/
@media (min-width: 600px) {
	.c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12, .c13, .c14 {
		width: 50%;
	}
	.cr > h1 {
		font-size: 6rem;
		padding-bottom: 18px;
		line-height: 1;
	}
	span.tagline {
		font-size: 1rem;
	}
}
@media (min-width: 800px) {
	.c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12, .c13, .c14  {
		width: 25%;
	}
	.cr > h1 {
		font-size: 10rem;
		padding-bottom: 24px;
		line-height: 1;
	}
	span.tagline {
		font-size: 2rem;
	}
}
@media (min-width: 1000px) {
	.c1 {
		width: 60%;
	}
	.c2 {
		width: 40%;
	}
}
/*-- Demo divs
--*/
.cr {
  color: #ddd;
  background-color: darkgreen;
}
.c1 {
  color: #ddd;
  background-color: #FFF;
}
.c2 {
  color: #222;
  background-color: #fff;
}
.c3 {
  color: #333;
  background-color: #b4d2f7;
}
.c4 {
  color: #333;
  background-color: #d5dfef;
}
.c5 {
  color: #333;
  background-color: #dfe1e5;
}
.c6 {
  color: #333;
  background-color: #ccc;
}
.c7 {
  color: #ddd;
  background-color: #003476;
}
.c8 {
  color: #ddd;
  background-color: #0062d2;
}
.c9 {
  color: #333;
  background-color: #b4d2f7;
}
.c10 {
  color: #333;
  background-color: #d5dfef;
}
.c11 {
  color: #333;
  background-color: #dfe1e5;
}
.c12 {
  color: #333;
  background-color: #ccc;
}
.c13 {
  color: #333;
  background-color: #dfe1e5;
}
.c14 {
  color: #333;
  background-color: #ccc;
}
